@model IEnumerable<INTERNPRO.Datas.HocSinh>

@{
    ViewData["Title"] = "GetHS";
    //Layout = "~/Views/_ViewImports.cshtml";
}
@section scripts{
    <script src="~/Views/HocSinh/GetHS.cshtml.js"></script>
                }
<head>
    <style>
        existing-interface {
            background-color: lightgray;
            padding: 20px;
            margin: 20px;
        }

        /* CSS để ẩn modal ban đầu */
        modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2; /* Đặt z-index lớn hơn giao diện hiện có */
        }

        modal-content {
            background-color: #fff;
            margin: 20% auto;
            padding: 20px;
            width: 60%;
        }
    </style>
</head>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTenHs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QueQuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoaiHs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTenPh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoaiPh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenHs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoaiHs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenPh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoaiPh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                    <button id="openModalButton" onclick="MyAct()">Mở Modal</button>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
<h1>GetHS</h1>
<div id="myModal" style="width:100%;height:100%;background-color:aqua;display:none">
    <div >
        <!-- Nội dung modal ở đây -->
        <h2>Đoạn 1</h2>
        <p>Nội dung đoạn 1 ở đây...</p>
        <h2>Đoạn 2</h2>
        <p>Nội dung đoạn 2 ở đây...</p>
    </div>
</div>
    </tbody>
</table>

