@model IEnumerable<INTERNPRO.Datas.PhanCongCt>
@{
    Layout = "../Shared/_SidebarAdmin.cshtml";
}
@{
    var hour = 7;
    var minute = 0;
    
    // Lấy ngày hiện tại
    DateTime currentDate = DateTime.Now;

    // Tìm ngày đầu tiên của tuần (Chủ Nhật)
    DateTime firstDayOfWeek = currentDate.Date.AddDays(-(int)currentDate.DayOfWeek);

    // Tạo danh sách 7 ngày kể từ ngày hiện tại
    List<DateTime> sevenDays = new List<DateTime>();
    for (int i = 0; i < 7; i++)
    {
        sevenDays.Add(firstDayOfWeek.AddDays(i));
    }
}
<main style="margin-top:20px">
    <h2 style="display: flex;justify-content: center;align-items: center;">Lịch Công Tác Lớp @ViewBag.TL</h2>
    <div class="form-group" style="display: flex;justify-content: center;align-items: center;">
        <button> &lt; Trước </button>&ensp;
        <input type="date" value="@sevenDays[0].ToString("yyyy-MM-dd")" />&nbsp;
        <select style="width:50px">
            <option value="1">1 tuần</option>
            <option value="2">2 tuần</option>
            <option value="3">3 tuần</option>
            <option value="4">4 tuần</option>
        </select>&ensp;
        <button> Sau &gt;</button>
    </div>
    <div class="table-responsive" style="margin-left:100px;margin-top:50px">
        <table class="table table-bordered text-center" style="width:1030px">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase" style="width:100px">
                        Time
                    </th>
                    <th class="text-uppercase" style="width:150px;background-color:aqua">Monday<br />
                @sevenDays[0].ToString("dd/MM/yyyy")</th>
                    <th class="text-uppercase" style="width:150px;background-color:aqua">Tuesday<br />
                @sevenDays[1].ToString("dd/MM/yyyy")</th>
                    <th class="text-uppercase" style="width:150px;background-color:aqua">Wednesday<br />
                @sevenDays[2].ToString("dd/MM/yyyy")</th>
                    <th class="text-uppercase" style="width:150px;background-color:aqua">Thursday<br />
                @sevenDays[3].ToString("dd/MM/yyyy")</th>
                    <th class="text-uppercase" style="width:150px;background-color:aqua">Friday<br />
                @sevenDays[4].ToString("dd/MM/yyyy")</th>
                    <th class="text-uppercase" style="width:150px;background-color:aqua">Saturday<br />
                @sevenDays[5].ToString("dd/MM/yyyy")</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i < 6; i++)
                {
                    <tr>
                        @{
                            var h = hour.ToString();
                            var m = minute.ToString();
                            if (hour < 10) h = "0" + h;
                            if (minute < 10) m = "0" + m;
                        }
                        <td class="align-middle" style="background-color:yellow">@h:@m am</td>
                        @{
                            minute = minute + 55;
                            if (minute > 60) { minute = minute - 60; hour++; }
                        }
                        @for (int j = 2; j < 8; j++)
                        {
                            <td>
                                @{  string t;
                                    var ch = 0;
                                    var cangay = i.ToString() + j.ToString();
                                    foreach (var item in Model)
                                    {
                                        if (item.Ca == i && item.Ngay == j)
                                        {
                                            ch++;
                                            <div>@item.MaGv</div>
                                            <div>@item.MaMh</div>
                                            <a href="" onclick="DeletePC(@item.MaCt)" style="color:red">Delete</a>
                                        }
                                    }
                                    if (ch == 0)
                                    {
                                        <button onclick="PhanCong('@ViewBag.TL','@cangay')" style="color: aqua;">+</button>
                                    }
                                }
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal" tabindex="-1" role="dialog" style="display: none" id="listGVMH">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <h2><label for="dsgvmhs">Chọn GV:</label></h2>
                                <p>
                                    <input list="dsgvmhs" id="dsgvmh">
                                    <datalist id="dsgvmhs">
                                    </datalist>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="postcalen">
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/js/PCCT.js"></script>